body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

h1 {
  color: white;
}

a {
  color: white;
}

.app-container {
  position: fixed;
  overflow: scroll;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, #2D0083, #2BA5FF);
  text-align: center;
}

.cards-container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  width: 80%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card {
  text-align: left;
  background: rgb(245, 245, 245);
  -webkit-box-shadow: 3px 3px 15px 0px rgba(6, 0, 19, 0.25);
  -moz-box-shadow: 3px 3px 15px 0px rgba(6, 0, 19, 0.25);
  box-shadow: 3px 3px 15px 0px rgba(6, 0, 19, 0.25);
  border: 1px solid white;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
}

.sm {
  height: 200px;
  width: 250px;
  margin: 10px auto;
}
